/**
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* My stylesheet */

h1, h2 {
    font-family: "Noto Serif", serif;
    font-weight: 400;
}

p {
    font-family: "Noto Sans", sans-serif;
}

div.pane {
    width: 100%;
}

div.hero {
    height: 100vh;
    background-image: url("hero_2048.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    z-index: 100;
    text-align: center;
    color: white;
}

@media screen and (max-width: 1920px) {
    div.hero {
        background-image: url("hero_1920.jpg");
    }
}

@media screen and (max-width: 1080px) {
    div.hero {
        background-image: url("hero_1080.jpg");
    }
}

#title-name {
    font-size: 24pt;
    width: 100%;
}

@media all and (min-width: 35rem) and (min-height: 24rem) {
    #title-name {
        font-size: 48pt;
    }
}

@media all and (min-width: 85rem) and (min-height: 50rem) {
    #title-name {
        font-size: 72pt;
    }
}

#logo {
    width: 3em;
    height: 3em;
}

div.hero i {
    font-size: 22pt;
    position: absolute;
    width: 100%;
    bottom: 1rem;
}

div.about {
    background-color: black;
    color: #cccccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.portrait {
    flex: 0 1 35rem;
    max-height: 100vh;
    max-width: 100vh;
}

#portrait {
    margin: 10%;
    width: 80%;
    max-width: 80vh;
    border-radius: 50%;
}

div.bio {
    flex: 1 1 25rem;
    max-width: 45rem;
}

div.about h2 {
    font-size: 42pt;
    margin: 4rem;
}

div.about p {
    font-size: 14pt;
    margin: 4ch 4rem 4ch;
}

footer {
    background-color: #401770;
    color: #cccccc;
    text-align: center;
    padding: 1ch 1em;
}

#footer-logo {
    width: 3rem;
    height: 3rem;
    margin: 1rem auto;
}
