/**
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* My stylesheet */

h1,
h2,
h3 {
    font-family: "Noto Serif", serif;
    font-weight: 400;
}

h4,
h5,
p,
a,
ul {
    font-family: "Noto Sans", sans-serif;
    font-size: 14pt;
}

h2 {
    font-size: 42pt;
}

h3 {
    font-size: 24pt;
}

h4 {
    font-weight: bold;
}

h5 {
    font-size: 12pt;
    font-weight: normal;
}

ul {
    margin-left: 2rem;
}

p {
    font-size: 14pt;
    line-height: 1.45;
}

a {
    line-height: 1.45;
    color: inherit;
    text-decoration: none;
    font-style: italic;
}

a:hover,
a:focus {
    text-decoration: underline;
}

div.pane {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container {
    width: 80rem;
    max-width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
}

div.row-wrap {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 50rem) {
    div.row-wrap {
        flex-direction: column;
        align-items: center;
    }
}

div.hero {
    height: 100vh;
    background-image: url("hero_2048.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    z-index: 100;
    text-align: center;
    color: white;
}

@media screen and (max-width: 1920px) {
    div.hero {
        background-image: url("hero_1920.jpg");
    }
}

@media screen and (max-width: 1080px) {
    div.hero {
        background-image: url("hero_1080.jpg");
    }
}

#title-name {
    font-size: 24pt;
    width: 100%;
}

@media all and (min-width: 35rem) and (min-height: 24rem) {
    #title-name {
        font-size: 48pt;
    }
}

@media all and (min-width: 85rem) and (min-height: 50rem) {
    #title-name {
        font-size: 72pt;
    }
}

#logo {
    width: 3em;
    height: 3em;
}

div.hero i {
    font-size: 22pt;
    position: absolute;
    width: 100%;
    bottom: 2rem;
    animation: bounce 10s infinite;
    }

    @keyframes bounce {
        0%, 20%, 30%, 100% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(1rem);
        }

}

.dark {
    background-color: #0C0B0D;
    color: #f0eef0;
}

.light {
    background-color: #fffafa;
    color: #100a0a;
}

.purple {
    background-color: #401770;
    color: white;
}

.teal {
    background-color: #187088;
    color: white;
}

.orange {
    background-color: #ea6a38;
    color: white;
}

div.portrait {
    flex: 1 0 0;
    max-height: 100vh;
    max-width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#portrait {
    width: 80%;
    max-width: 80vh;
    border-radius: 50%;
    margin: 2rem 0;
}

div.caption {
    flex: 1 0 0;
    margin-bottom: 6rem;
}

div.pane h2 {
    margin: 4rem 0 2rem;
}

div.pane h3 {
    margin: 2rem 0 0.5rem;
}

div.list-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

footer {
    text-align: center;
    padding: 1.5rem 0.5rem;
}

#footer-logo {
    width: 3rem;
    height: 3rem;
    margin: 1rem auto;
}
